body{
    background: #ffffff;  
    background: -webkit-linear-gradient(to right, #53f, #05d5ff);  
    background: linear-gradient(to right, #53f, #05d5ff);  
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


.content{
    margin: 0 auto;
    justify-content: center;
    padding: 20px 10px 20px 10px;
}

.texttitle{
    font-size: 22px;
    text-align: center;
    font-family: 'Quicksand', 'Roboto', sans-serif;
    color: #ffffff;    
}

.textsubtitle{
    font-size: 16px;
    text-align: center;
    font-family: 'Quicksand', 'Roboto', sans-serif;
    color: #ffffff;    
}